form{
    width:600px;
    margin:0 auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
h1{
    padding-top:50px;
    text-align: center;
}
.enter_input{
    width:400px;
    margin: 10px auto; 
    padding:5px;
    box-sizing: border-box;

}
.remember_me{
    display:flex;
    justify-content: end;
    padding-right: 100px;
}
.button{
    margin: 0 auto;
    text-align: center;
    padding-bottom: 20px;
}
button{
    width: 400px;
    background-color: rgb(187, 191, 75);
    border:none;
    padding:10px;
}